@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-wrapper {
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid greenyellow;
}

.faq-title h1 {
    margin: 3rem 0rem 2.4rem 0rem;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid red;
}

.faq-content {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
    border: 2px solid lime;
}

.faq-right-content,
.faq-left-content {
    padding: 1.2rem;
    background-color: lightgrey;
    border: 10px solid #ff55a5;
}

.faq-left-content {
    text-align: center;
    border: 2px solid yellow;
}

.faq-left-content img {
    width: 75%;
    display: block;
    margin: 1rem auto;
    border: 3px solid black;
}

.faq-left-content p {
    font-weight: 400;
    opacity: 0.95;
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.8;
}

.faq-item {
    margin-bottom: 1rem;
    border: 10px solid yellow;
}

.faq-item-head {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 5px 0 rgb(255, 88, 96, 0.5);
    opacity: 0.85;
    padding: 0.6rem 1rem;
    border-radius: 9px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 10px solid rgb(0, 255, 85);
}

.faq-item-head:hover {
    box-shadow: 0 0 15px 0 rgb(255, 88, 96, 0.5);

}

.faq-item-icon {
    cursor: pointer;
    background-color: blue;
}

.faq-item-body {
    overflow: hidden;
    max-height: 0;
    background: rgba(255, 88, 96, 0.1);
    border-radius: 2px;
    transition: all 0.3s ease;
    border: 7px solid rgb(255, 255, 255);

    border: 5px solid blue;

}

.faq-item-body p {
    font-weight: 300;
    padding: 1rem;
    transition: all 0.34s;
}

.show-para {
    max-height: 1000px;
    /* js related */
    transition: all 0.34s;
}

.fa {
    border: 2px solid rgb(4, 255, 0);

}


@media screen and (min-width: 800px) {
    .faq-left-content {
        text-align: left;
    }

    .faq-left-content img {
        margin-left: 0;
    }

    .faq-left-content p {
        margin-left: 0;
        max-width: 460px;
    }

    .faq-content {
        grid-template-columns: repeat(2, 1fr);
    }
}